  body {
    background-color: black;
    color: red;
    margin: 0;
    padding: 0;
    transform: scaleX(1.15);
    transform-origin: center top;
}

.container {
    text-align: center;
    width: 95%;
    margin: 0 auto;
}

table {
    margin: 20px auto;
    width: 95%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid red;
}

th, td {
    padding: 8px;
    text-align: center;
}

h1, h2, h3, p {
    letter-spacing: 1px;
}
