<!DOCTYPE html>
<html>
<head>
  <title><%= post.title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="shell">

  <div class="site-header">
    <div>
      <h1><%= post.title %></h1>
      <p class="tag">
        <%= post.tag %>
        <% if (post.pinned) { %>
          • pinned
        <% } %>
      </p>
    </div>

    <nav>
      <a href="/">archive</a>
      <a href="/submit">submit</a>
      <a href="/tos">tos</a>
    </nav>
  </div>

  <div class="post">
    <pre><%= post.content %></pre>
  </div>

</div>

<div class="corner-img"></div>

</body>
</html>
